@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');

section#hero
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Source Code Pro',monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #000000;
}

section .blink
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section .blink .blinkpara
{
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(23, 23, 23, 0.331);
    font-size: 3.5em;
    line-height: 0.87em;
    letter-spacing: 4px;
}

section .blink .blinkpara span
{
    position: relative;
    z-index: 1;
    color: #fff;
    animation: animate 5s linear infinite;
}

section .blink .blinkpara span.text2
{
    animation-delay: -0.5s;
    filter: hue-rotate(225deg);
}

section .blink .blinkpara span.text3
{
    animation-delay: -1s;
    filter: hue-rotate(205deg);
}

section .blink .blinkpara span.text4
{
    animation-delay: -1.5s;
    filter: hue-rotate(180deg);
}

section .blink .blinkpara span.text5
{
    animation-delay: -0.7s;
    filter: hue-rotate(80deg);
}

@keyframes animate
{
    0%,5%,10.1%,15.1%,25.1%,45%,70.1%,90%,100%
    {
        color: rgba(23, 23, 23, 0.331);
        text-shadow: 0 0 0 rgba(23, 23, 23, 0.331);
    }

    5.1%,10%,15.2%,25%,45.1%,70%,90.1%,95%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #ff3177,
                     0 0 20px #ff3177,
                     0 0 40px #ff3177,
                     0 0 80px #ff3177,
                     0 0 160px #ff3177;
    }
}